//utilities
li{
    list-style: none;
}
a{
    
    text-decoration: none;
}
.bg-main{
    background: #6366F1;
}
//header
#header{
    .navbar-brand{
        img{
            object-fit: contain;
            height: 30px;
            @media(min-width:575px){
                height: 45px;
            }
            @media(min-width:767px){
                height: 60px!important;
            }
        }
    }
    .dropdown-menu{
        padding: none;
        top: 50px;
        width: 100vw;
        height: 236px;
        padding-bottom: 16px;
        .cart_icon,.user_icon{
            width: 30px;
        }
        li{
            height: 20%;
        }
    }
}
// .logo{
//     width: 105px;
//     height: 60px;
// }
.cart_icon,.user_icon{
    color: black;
    width: 27px;
    height: 24px;
}
.nav-right{
    ul a{
        color: black;
    }
}

//carosel
.carousel-inner{
    .carousel-item {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:nth-child(1){
            background-image: url(../pics/pic_a.jpg);
        }
        &:nth-child(2){
            background-image: url(../pics/pic_b.jpg);
        }
        &:nth-child(3){
            background-image: url(../pics/pic_c.jpg);
        }
    }
}
.carousel-item{
    height: 565px;
}
//section_row_cards
.section_row_cards{
    padding: 96px 20px;
}
.bar{
    width: 64px;
    height: 4px;
    background: #6366F1;
}
.card-wrapper{
    .card{
        border: 0;
        a{
            color: #6366F1!important;
        }
    }
}

.card-wrapper{
    margin: 80px 0;
}
.card_img_wrapper{
    width: 80px;
    height: 80px;
    background:#E0E7FF;
    color: #6366F1;
  
}
.shooting_star_icon,.scissor,.user{
    width: 40px;
    height: 40px;
}
.button{
    background-color: #6366F1;
    color: white;
}
//price
#price{
    padding: 96px 24px;
    .container{
        margin-bottom: 80px;
    }
    thead{
        background: rgba(169, 247, 97, 0.1);
        tr>th{
            margin-right: 50px;
            padding: 12px 16px;
            border: 0;
        }
    }
    .table-wrapper{
        padding: 0;
        @media(min-width:1024px){
            padding: 0 165px;
        }
    }
}
//location
.location_title{
    margin-bottom: 80px;
}
//veritical_cards
#veritical_cards{
    .card_wrapper{
        margin-bottom: 40px;
        padding: 0 196px;
        @media(max-width:1024px){
        padding: 0;
        }
        .wrapper{
            border-bottom: 1px solid #E5E7EB;
            padding-bottom: 40px;
            @media(max-width:768px){
                flex-wrap: wrap;
                justify-content: center;
            }
            .card-body{
               padding: 0 0 0 40px;
               @media(max-width:768px){
                padding: 0;
                margin-top: 40px;
                text-align: center;
               }
            }
        }
    }
    .card_img_wrapper{
        width: 128px;
        height: 128px;
        svg{
            width: 64px;
            height: 64px;
        }
    }
    .link{
        color:  #6366F1;
    }
}
//brand_card
#brand_card{
    svg{
        width: 16px;
        height: 16px;
        color: gray;
    }
    padding: 0 100px;
    .description{
        padding: 24px 0 24px 40px;
    }
    @media(max-width:990px){
        text-align: center;
        img{
            width: 100%;
            height: 256px;
        }
    }
    .stars{
        svg{
            color: #6366F1;
        }
    }
    .button_groups{
        border-bottom: 1px solid #E5E7EB;
    }
    .button_groups button{
        width: 20px;
        height: 20px;
        &:nth-child(1){
            background: white;
        }
        &:nth-child(2){
            background: black;
        }
        &:nth-child(3){
            background: #6366F1;
        }
    }
    select{
        width: 80px;
    }
    .heart{
        width: 40px;
        height: 40px;
        background:#E5E7EB;
        &:hover svg{
            color: red;
        }
    }
}
//category
#category{
 .card{
     border: 0;
 }
 .card-body{
     padding: 0;
     margin-top: 16px;
 } 
}
//map
#map{
    position: relative;
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .form{
            background: white;
            padding: 20px;
            button{
                width: 100%;
                padding: 8px 24px;
                color: white;
                background: #6366F1;
            }
        }
    }
}
//footer
#footer{
    text-align: center;
    .container{
        padding: 96px 20px;
    }
    .box-wrapper{
        margin-bottom: 40px;
    }
    .col-md-6{
            margin-bottom: 40px;
    }
}
//copyRight
#copyRight{
    background: #E5E7EB;
    padding: 16px 20px;
    svg{
        width: 20px;
        height: 20px;
        color: gray;
    }
    .socialMedia{
        display: flex;
        a{
            display: block;
            margin-left: 12px;
        }
    }
}
